<div class="grid wide">
    <div class="row column-reverse-on-mobile-and-tablet">
        
        <div class="col l-8 m-12 c-12">
            
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb hide-on-mobile-tablet">
                    <li class="breadcrumb-item">
                        <a href="/courses">Khóa học</a>
                        <i class="breadcrumb-icon fas fa-chevron-right"></i>
                        </li>
                    <li class="breadcrumb-item">
                        <a href="/courses/{{course.slug}}">{{course.name}}</a></li>
                </ul>
            </nav>
            
            <h1 class="course-title">{{course.name}}</h1>
            
            <div class="course-description">{{course.description}}</div>
            
            <div class="course-topicList">
                <h3>Bạn sẽ học được gì</h3>
                <div class="row">
                    <div class="col c-12">
                        <ul class="course-topic">
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Các kiến thức cơ bản, nền móng của ngành IT</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Các kiến thức cơ bản, nền móng của ngành IT</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Các kiến thức cơ bản, nền móng của ngành IT</span>
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                <span>Các kiến thức cơ bản, nền móng của ngành IT</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="course-content">
                <div class="course-content__header">
                    <h3>Nội dung khóa học</h3>
                <div class="row">
                    <div class="col c-12">
                        <div class="course-header__info">
                            <ul class="course-header__list">
                            <li><span>4 </span>phần</li>
                            <li class="course-header_space"> . </li>
                            <li><span>8 </span>bài học</li>
                            <li class="course-header_space"> . </li>
                            <li><span>Thời lượng 02 giờ 15 phút</span></li>
                        </ul>
                        </div>
                    </div>
                </div>
                </div>

                <div class="row">
                    <div class="col c-12">
                        <div id="accordion">
                            <div class="card-header">
                                <h5 class="card-header__title">
                                    <span>1. Khái niệm kỹ thuật cần biết</span>
                                    <span>2 bài học</span>
                                </h5>
                            </div>
                            <div class="course-lesson__list">
                                <div class="course-lesson__item">
                                    <div class="course-lesson__name">
                                        <i class="fas fa-play-circle"></i>
                                        <span>Mô hình Client - Server</span>
                                    </div>
                                    <span>11:35</span>
                                </div>
                                <div class="course-lesson__item">
                                    <div class="course-lesson__name">
                                        <i class="fas fa-play-circle"></i>
                                        <span>Domain là gì? Bạn đã thật sự hiểu về domain?</span>
                                    </div>
                                    <span>10:33</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col c-12">
                        <div id="accordion">
                            <div class="card-header">
                                <h5 class="card-header__title">
                                    <span>2. Phương pháp học tập</span>
                                    <span>2 bài học</span>
                                </h5>
                            </div>
                            <div class="course-lesson__list">
                                <div class="course-lesson__item">
                                    <div class="course-lesson__name">
                                        <i class="fas fa-play-circle"></i>
                                        <span>8 lời khuyên giúp học lập trình tại F8 hiệu quả hơn!</span>
                                    </div>
                                    <span>06:27</span>
                                </div>
                                <div class="course-lesson__item">
                                    <div class="course-lesson__name">
                                        <i class="fas fa-play-circle"></i>
                                        <span>Phương pháp và quan điểm học lập trình</span>
                                    </div>
                                    <span>24:05</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col c-12">
                        <div id="accordion">
                            <div class="card-header">
                                <h5 class="card-header__title">
                                    <span>3. Tư duy phát triển</span>
                                    <span>1 bài học</span>
                                </h5>
                            </div>
                            <div class="course-lesson__list">
                                <div class="course-lesson__item">
                                    <div class="course-lesson__name">
                                        <i class="fas fa-play-circle"></i>
                                        <span>Làm sao để có thu nhập cao và đi xa hơn trong ngành IT?</span>
                                    </div>
                                    <span>25:39</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col c-12">
                        <div id="accordion">
                            <div class="card-header">
                                <h5 class="card-header__title">
                                    <span>4. Tham khảo thêm</span>
                                    <span>3 bài học</span>
                                </h5>
                            </div>
                            <div class="course-lesson__list">
                                <div class="course-lesson__item">
                                    <div class="course-lesson__name">
                                        <i class="fas fa-play-circle"></i>
                                        <span>Trang web này sử dụng những công nghệ gì?</span>
                                    </div>
                                    <span>11:35</span>
                                </div>
                                <div class="course-lesson__item">
                                    <div class="course-lesson__name">
                                        <i class="fas fa-play-circle"></i>
                                        <span>Quản lý thư mục dự án trên máy tính và VSCode hiệu quả hơn</span>
                                    </div>
                                    <span>11:49</span>
                                </div>
                                <div class="course-lesson__item">
                                    <div class="course-lesson__name">
                                        <i class="fas fa-play-circle"></i>
                                        <span>Học IT cần tố chất gì?</span>
                                    </div>
                                    <span>24:09</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="course-req">Yêu cầu</h3>  
        </div>

        <div class="col l-4 m-12 c-12">
            <div class="course-detail">
                <iframe src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <span>Miễn phí</span>
                <a href="#">Đăng ký học</a>
                <ul class="course-info__list">
                    <li class="course-info__item">
                        <i class="fas fa-layer-group"></i>
                        <p>{{course.level}}</p>
                    </li>
                    <li class="course-info__item">
                        <i class="fas fa-film"></i>
                        <p>Tổng số {{course.totalLesson}} bài học</p>
                    </li>
                    <li class="course-info__item">
                        <i class="fas fa-clock"></i>
                        <p>Thời lượng 02 giờ 15 phút</p>
                    </li>
                    <li class="course-info__item">
                        <i class="fas fa-battery-full"></i>
                        <p>Học mọi lúc, mọi nơi</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    const cardHeader = document.querySelectorAll('.card-header')
    const courseHeaderOption = document.querySelector('.course-header__option')

    cardHeader.forEach(button => {
        button.addEventListener('click', () => {
            const courseLessonList = button.nextElementSibling;
            
            button.classList.toggle('card-header--active');

            if (button.classList.contains('card-header--active')) {
                courseLessonList.style.maxHeight = courseLessonList.scrollHeight + 'px'  
            } else {
                courseLessonList.style.maxHeight = 0; 
            }
        })
    })
</script>